
importFrom("utils", "packageDescription", "str")
importFrom("curl", "new_handle", "curl_fetch_memory", "form_file")
importFrom("jsonlite", "fromJSON", "toJSON")

exportPattern("^[[:alpha:]]+")

S3method("pbGetDevices", "default")
S3method("print", "pbDevices")
S3method("summary", "pbDevices")
