
importFrom("utils", "packageDescription", "str")
importFrom("curl", "new_handle", "curl_fetch_memory", "form_file", "handle_setform", "curl_escape")
importFrom("jsonlite", "fromJSON", "toJSON")
importFrom("stats", "na.omit")

exportPattern("^[[:alpha:]]+")

S3method("pbGetDevices", "default")
S3method("print", "pbDevices")
S3method("summary", "pbDevices")
